<div class="board">
  <div class="grid">
    <div class="oval-row odd">
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
    </div>
    <div class="oval-row even">
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
    </div>
    <div class="oval-row odd">
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
    </div>
    <div class="oval-row even">
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
      <div class="oval"></div>
    </div>
  </div>
</div>
