<h1>Game Time</h1>

<div class="hex-row">
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
</div>
<div class="hex-row even">
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
</div>
<div class="hex-row">
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
    <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
</div>

<hr style="clear: both"/>

<div class="board">
<div class="hex2-row">
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2 even"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
</div>
<div class="hex2-row">
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2 even"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
</div>
<div class="hex2-row">
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2 even"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    <div class="hex2"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
</div>
</div>

